@import "./fonts20.scss";

.fut20 {
  &.playercard {
    position: relative;
    font-family: 'fut-cards', sans-serif;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
    margin-left: auto;
    margin-right: auto;
    user-select: none;

    & > * {
      position: absolute;
      z-index: 2;
      line-height: 1;
    }

    &-large {
      width: 204px;
      height: 306px;

      .playercard {
        &-rating {
          font-weight: 500;
          font-size: 39px;
          left: 30px;
          text-align: center;
          width: 50px;
          top: 41px;
          letter-spacing: -1px;
          z-index: 1;
        }

        &-position {
          font-size: 18px;
          top: 75px;
          width: 50px;
          left: 30px;
          text-align: center;
          font-weight: 700;
          z-index: 1;
        }

        &-name {
          left: 0;
          text-align: center;
          top: 161px;
          width: 100%;
          text-transform: uppercase;
          letter-spacing: -0.2px;
          font-size: 23px;
          z-index: 1;
          font-weight: 700;
          white-space: nowrap;
        }

        &-nation {
          left: 30px;
          top: 99px;
          width: 50px;
          text-align: center;
          line-height: 0;
          z-index: 1;

          & > img {
            width: 30px;
          }
        }

        &-club {
          left: 30px;
          top: 125px;
          width: 50px;
          text-align: center;
          line-height: 0;
          z-index: 1;

          & > img {
            width: 28px;
          }
        }

        &-picture {
          height: auto;
          left: 63px;
          top: 40px;
          width: 119px;
          line-height: 0;

          & > img {
            width: 119px;
          }

          &-special {
            top: 32px;
            left: 22px;
            z-index: 0;

            & > img {
              width: 159px;
            }
          }
        }

        &-attr {
          font-size: 18px;
          text-align: left;
          width: 60px;
          font-weight: 700;
          white-space: nowrap;

          & > span {
            font-weight: 400;
            margin-left: 8px;
          }

          &1 {
            left: 42px;
            top: 191px;
          }

          &2 {
            left: 42px;
            top: 211px;
          }

          &3 {
            left: 42px;
            top: 231px;
          }

          &4 {
            left: 119px;
            top: 191px;
          }

          &5 {
            left: 119px;
            top: 211px;
          }

          &6 {
            left: 119px;
            top: 231px;
          }

        }

        &-workrates {
          top: 260px;
          font-size: 12px;
          left: 0;
          width: 100%;
          text-align: center;
          text-transform: uppercase;
        }

        &-line {
          border: 0 solid #000;

          &1 {
            width: 18px;
            border-bottom-width: 1px;
            top: 95px;
            left: 46px;
          }

          &2 {
            width: 18px;
            border-bottom-width: 1px;
            top: 121px;
            left: 46px;
          }

          &3 {
            width: 118px;
            border-bottom-width: 1px;
            top: 186px;
            left: 50%;
            margin-left: -(118px / 2);
          }

          &4 {
            height: 53px;
            border-left-width: 1px;
            top: 194px;
            left: 50%;
          }

          &5 {
            width: 26px;
            border-bottom-width: 1px;
            top: 254px;
            left: 50%;
            margin-left: -(26px / 2);
          }
        }
      }
    }

    &-small {
      width: 90px;
      height: 106px;

      .playercard {
        &-rating {
          font-size: 14px;
          left: 10px;
          top: 22px;
          width: 26px;
          text-align: center;
          font-weight: 700;
          z-index: 2;
        }

        &-position {
          font-size: 11px;
          left: 10px;
          top: 35px;
          width: 26px;
          text-align: center;
          font-weight: 500;
          z-index: 3;
        }

        &-name {
          font-size: 10px;
          text-transform: uppercase;
          text-align: center;
          top: 76px;
          width: 100%;
          font-weight: 500;
          z-index: 3;
        }

        &-nation {
          left: 16px;
          top: 46px;
          z-index: 3;
          line-height: 0;

          & > img {
            width: 15px;
          }
        }

        &-club {
          left: 16px;
          top: 57px;
          z-index: 3;
          line-height: 0;

          & > img {
            width: 15px;
          }
        }

        &-picture {
          left: 28px;
          top: 25px;
          width: 50px;
          line-height: 0;

          & > img {
            width: 50px;
          }

          &-special {
            & > img {

            }
          }
        }

        &-attr {
          display: none;
        }

        &-workrates {
          display: none;
        }

        &-line {
          display: none;
        }
      }
    }

    &-xsmall {
      width: 24px;
      height: 24px;
      display: inline-block;
      background-size: contain;

      & > * {
        width: 100%;
        text-align: center;
      }

      .playercard {
        &-rating {
          top: 6px;
          font-size: 11px;
          font-weight: 500;
          z-index: 2;
        }

        &-line {
          display: none;
        }
      }
    }

    /* --------- */

    &.bronze {
      &.non-rare {
        background-image: url("../images/cards/20/bronze_non_rare.png");
        color: #4d331f;

        .playercard-line {
          border-color: #403322;
        }

        &.playercard-small, &.playercard-xsmall {
          background-image: url("../images/cards/20/small/bronze_non_rare.png");
        }
      }

      &.rare {
        background-image: url("../images/cards/20/bronze.png");
        color: #4d331f;

        .playercard-line {
          border-color: #4E331C;
        }

        &.playercard-small, &.playercard-xsmall {
          background-image: url("../images/cards/20/small/bronze.png");
        }

        &.if {
          background-image: url("../images/cards/20/bronze_if.png");
          color: #ca945f;

          .playercard-name {
            color: #e2a487;
          }

          .playercard-line {
            border-color: #967552;
          }

          &.playercard-small, &.playercard-xsmall {
            background-image: url("../images/cards/20/small/bronze_if.png");
          }
        }

        &.fut-champ {
          background-image: url("../images/cards/20/champion_bronze.png");
          color: #DEB376;

          .playercard-line {
            border-color: #896E46;
          }

          &.playercard-small, &.playercard-xsmall {
            background-image: url("../images/cards/20/small/champion_bronze.png");
          }
        }
      }
    }

    &.silver {
      &.non-rare {
        background-image: url("../images/cards/20/silver_non_rare.png");
        color: #3b3d41;

        .playercard-line {
          border-color: #343839;
        }

        &.playercard-small, &.playercard-xsmall {
          background-image: url("../images/cards/20/small/silver_non_rare.png");
        }
      }

      &.rare {
        background-image: url("../images/cards/20/silver.png");
        color: #3b3d41;

        .playercard-line {
          border-color: #393E3F;
        }

        &.playercard-small, &.playercard-xsmall {
          background-image: url("../images/cards/20/small/silver.png");
        }

        &.if {
          background-image: url("../images/cards/20/silver_if.png");
          color: #cdd9e1;

          .playercard-name {
            color: #b0bcc8;
          }

          .playercard-line {
            border-color: #8D96A0;
          }

          &.playercard-small, &.playercard-xsmall {
            background-image: url("../images/cards/20/small/silver_if.png");
          }
        }

        &.fut-champ {
          background-image: url("../images/cards/20/champion_silver.png");
          color: #F2F2F3;

          .playercard-line {
            border-color: #A0A0A0;
          }

          &.playercard-small, &.playercard-xsmall {
            background-image: url("../images/cards/20/small/champion_silver.png");
          }
        }
      }
    }

    &.gold {
      &.non-rare {
        background-image: url("../images/cards/20/gold_non_rare.png");
        color: #4d331f;

        .playercard-line {
          border-color: #574A2B;
        }

        &.playercard-small, &.playercard-xsmall {
          background-image: url("../images/cards/20/small/gold_non_rare.png");
        }
      }

      &.rare {
        background-image: url("../images/cards/20/gold.png");
        color: #4d331f;

        .playercard-line {
          border-color: #645215;
        }

        &.playercard-small, &.playercard-xsmall {
          background-image: url("../images/cards/20/small/gold.png");
        }

        &.icon {
          background-image: url("../images/cards/20/icon.png");
          color: #625217;

          .playercard-line {
            border-color: #aa9e6f;
          }

          &.playercard-small, &.playercard-xsmall {
            background-image: url("../images/cards/20/small/icon.png");
          }
        }

        &.if {
          background-image: url("../images/cards/20/gold_if.png");
          color: #e1c775;

          .playercard-name {
            color: #fce398;
          }

          .playercard-line {
            border-color: #B19B58;
          }

          &.playercard-small, &.playercard-xsmall {
            background-image: url("../images/cards/20/small/gold_if.png");
          }
        }

        &.otw {
          background-image: url("../images/cards/20/otw.png");
          color: #FC5461;

          .playercard-name {
            color: #ea598d;
          }

          .playercard-line {
            border-color: #FAFA20;
          }

          &.playercard-small, &.playercard-xsmall {
            background-image: url("../images/cards/20/small/otw.png");
          }
        }

        &.sbc_premium {
          background-image: url("../images/cards/20/sbc_premium.png");
          color: #00FCFF;

          .playercard-line {
            border-color: #F000FF;
          }

          &.playercard-small, &.playercard-xsmall {
            background-image: url("../images/cards/20/small/sbc_premium.png");
          }
        }

        &.sbc_flashback {
          background-image: url("../images/cards/20/sbc_flashback.png");
          color: #EBFFB0;

          .playercard-line {
            border-color: #14F6F3;
          }

          &.playercard-small, &.playercard-xsmall {
            background-image: url("../images/cards/20/small/sbc_flashback.png");
          }
        }

        &.potm_epl {
          background-image: url("../images/cards/20/potm_epl.png");
          color: #05F1FF;

          .playercard-line {
            border-color: #FF2882;
          }

          &.playercard-small, &.playercard-xsmall {
            background-image: url("../images/cards/20/small/potm_epl.png");
          }
        }

        &.potm_bundesliga {
          background-image: url("../images/cards/20/potm_bundesliga.png");
          color: #F5F5F5;

          .playercard-line {
            border-color: #B6757A;
          }

          &.playercard-small, &.playercard-xsmall {
            background-image: url("../images/cards/20/small/potm_bundesliga.png");
          }
        }

        &.potm_mls {
          background-image: url("../images/cards/20/potm_mls.png");
          color: #ffffff;

          .playercard-line {
            border-color: #0066A6;
          }

          &.playercard-small, &.playercard-xsmall {
            background-image: url("../images/cards/20/small/potm_mls.png");
          }
        }

        &.potm_ligue1 {
          background-image: url("../images/cards/20/potm_ligue1.png");
          color: #DBE120;

          .playercard-line {
            border-color: #E2001A;
          }

          &.playercard-small, &.playercard-xsmall {
            background-image: url("../images/cards/20/small/potm_ligue1.png");
          }
        }

        &.halloween {
          background-image: url("../images/cards/20/halloween.png");
          color: #FF690D;

          .playercard-line {
            border-color: #A74F14;
          }

          &.playercard-small, &.playercard-xsmall {
            background-image: url("../images/cards/20/small/halloween.png");
          }
        }

        &.sbc {
          background-image: url("../images/cards/20/sbc.png");
          color: #00FCFF;

          .playercard-line {
            border-color: #F000FF;
          }

          &.playercard-small, &.playercard-xsmall {
            background-image: url("../images/cards/20/small/sbc.png");
          }
        }

        &.ucl_rare {
          background-image: url("../images/cards/20/ucl_rare.png");
          color: #F5F5F5;

          .playercard-line {
            border-color: #5AF7DC;
          }

          &.playercard-small, &.playercard-xsmall {
            background-image: url("../images/cards/20/small/ucl_rare.png");
          }
        }

        &.ucl_non_rare {
          background-image: url("../images/cards/20/ucl_non_rare.png");
          color: #F5F5F5;

          .playercard-line {
            border-color: #5AF7DC;
          }

          &.playercard-small, &.playercard-xsmall {
            background-image: url("../images/cards/20/small/ucl_non_rare.png");
          }
        }

        &.ucl_sbc {
          background-image: url("../images/cards/20/ucl_sbc.png");
          color: #F5F5F5;

          .playercard-line {
            border-color: #FF00FF;
          }

          &.playercard-small, &.playercard-xsmall {
            background-image: url("../images/cards/20/small/ucl_sbc.png");
          }
        }

        &.ucl_live {
          background-image: url("../images/cards/20/ucl_live.png");
          color: #88F3DD;

          .playercard-line {
            border-color: #EA41F7;
          }

          &.playercard-small, &.playercard-xsmall {
            background-image: url("../images/cards/20/small/ucl_live.png");
          }
        }

        &.objective_reward {
          background-image: url("../images/cards/20/objective_reward.png");
          color: #fafa20;

          .playercard-line {
            border-color: #fc5461;
          }

          &.playercard-small, &.playercard-xsmall {
            background-image: url("../images/cards/20/small/objective_reward.png");
          }
        }

        &.objective_reward_2 {
          background-image: url("../images/cards/20/objective_reward_2.png");
          color: #FC5461;

          .playercard-line {
            border-color: #40FCFF;
          }

          &.playercard-small, &.playercard-xsmall {
            background-image: url("../images/cards/20/small/objective_reward_2.png");
          }
        }

        &.purple {
          background-image: url("../images/cards/20/purple.png");
          color: #f9e500;

          .playercard-line {
            border-color: #ff357c;
          }

          &.playercard-small, &.playercard-xsmall {
            background-image: url("../images/cards/20/small/purple.png");
          }
        }

        &.award-winner {
          background-image: url("../images/cards/20/award-winner.png");
          color: #C4FA4B;

          .playercard-line {
            border-color: #00F6FF;
          }

          &.playercard-small, &.playercard-xsmall {
            background-image: url("../images/cards/20/small/award-winner.png");
          }
        }

        &.bluered {
          background-image: url("../images/cards/20/bluered.png");
          color: #FAFA20;

          .playercard-line {
            border-color: #FC5461;
          }

          &.playercard-small, &.playercard-xsmall {
            background-image: url("../images/cards/20/small/bluered.png");
          }
        }

        &.pro {
          background-image: url("../images/cards/20/pro.png");
          color: #E6E6E6;

          .playercard-line {
            border-color: #7DFBEF;
          }

          &.playercard-small, &.playercard-xsmall {
            background-image: url("../images/cards/20/small/pro.png");
          }
        }

        &.icon_swap_1 {
          background-image: url("../images/cards/20/icon_swap_1.png");
          color: #E3E2DE;

          .playercard-line {
            border-color: #4B4435;
          }

          .playercard-rating, .playercard-position {
            color: #201C10;
          }

          &.playercard-small, &.playercard-xsmall {
            background-image: url("../images/cards/20/small/icon_swap_1.png");
          }
        }

        &.fut-champ {
          background-image: url("../images/cards/20/champion_gold.png");
          color: #FFE28C;

          .playercard-line {
            border-color: #705F30;
          }

          &.playercard-small, &.playercard-xsmall {
            background-image: url("../images/cards/20/small/champion_gold.png");
          }
        }

        &.europa_live {
          background-image: url("../images/cards/20/europa_live.png");
          color: #030303;

          .playercard-line {
            border-color: #030303;
          }

          &.playercard-small, &.playercard-xsmall {
            background-image: url("../images/cards/20/small/europa_live.png");
          }
        }

        &.potm_laliga {
          background-image: url("../images/cards/20/potm_laliga.png");
          color: #90D9EB;

          .playercard-line {
            border-color: #D9DCBC;
          }

          &.playercard-small, &.playercard-xsmall {
            background-image: url("../images/cards/20/small/potm_laliga.png");
          }
        }

        &.f_moment {
          background-image: url("../images/cards/20/f_moment.png");
          color: #FFD801;

          .playercard-line {
            border-color: #FFD801;
          }

          &.playercard-small, &.playercard-xsmall {
            background-image: url("../images/cards/20/small/f_moment.png");
          }
        }

        &.ucl_tott {
          background-image: url("../images/cards/20/ucl_tott.png");
          color: #F5F5F5;

          .playercard-line {
            border-color: #C6C9E2;
          }

          &.playercard-small, &.playercard-xsmall {
            background-image: url("../images/cards/20/small/ucl_tott.png");
          }
        }

        &.europa_tott {
          background-image: url("../images/cards/20/europa_tott.png");
          color: #F5F5F5;

          .playercard-line {
            border-color: #F39200;
          }

          &.playercard-small, &.playercard-xsmall {
            background-image: url("../images/cards/20/small/europa_tott.png");
          }
        }

        &.futmas {
          background-image: url("../images/cards/20/futmas.png");
          color: #ffffff;

          .playercard-line {
            border-color: #19c16e;
          }

          &.playercard-small, &.playercard-xsmall {
            background-image: url("../images/cards/20/small/futmas.png");
          }
        }

        &.toty_nominee {
          background-image: url("../images/cards/20/toty_nominee.png");
          color: #efd668;

          .playercard-line {
            border-color: #efd668;
          }

          &.playercard-small, &.playercard-xsmall {
            background-image: url("../images/cards/20/small/toty_nominee.png");
          }
        }

        &.toty {
          background-image: url("../images/cards/20/toty.png");
          color: #efd668;

          .playercard-line {
            border-color: #efd668;
          }

          &.playercard-small, &.playercard-xsmall {
            background-image: url("../images/cards/20/small/toty.png");
          }
        }
      }
    }
  }
}