@import "./fonts20.scss";

@mixin overlay($color) {
  .playercard-overlay {
    background: linear-gradient(to bottom, rgba($color, 0) 0, rgba($color, 0.2) 10%, rgba($color, 0.65) 45%, rgba($color, 0.76) 58%, rgba($color, 0.8) 77%, rgba($color, 0.1) 100%);
  }
}

.fut20 {
  &.playercard {
    position: relative;
    font-family: 'fut-cards', sans-serif;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 0;
    margin-left: auto;
    margin-right: auto;
    user-select: none;

    & > * {
      position: absolute;
      z-index: 2;
      line-height: 1;
    }

    &-large {
      width: 206px;
      height: 288px;

      .playercard {
        &-rating {
          font-weight: 500;
          font-size: 36px;
          left: 34px;
          text-align: center;
          width: 50px;
          top: 40px;
          letter-spacing: -1px;
          z-index: 1;
        }

        &-position {
          font-size: 17px;
          top: 71px;
          width: 50px;
          left: 34px;
          text-align: center;
          font-weight: 700;
          z-index: 1;
        }

        &-name {
          left: 0;
          text-align: center;
          top: 152px;
          width: 100%;
          text-transform: uppercase;
          letter-spacing: -0.2px;
          font-size: 21px;
          z-index: 1;
          font-weight: 700;
          white-space: nowrap;
        }

        &-nation {
          left: 34px;
          top: 94px;
          width: 50px;
          text-align: center;
          line-height: 0;
          z-index: 1;

          & > img {
            width: 26px;
          }
        }

        &-club {
          left: 34px;
          top: 117px;
          width: 50px;
          text-align: center;
          line-height: 0;
          z-index: 1;

          & > img {
            width: 26px;
          }
        }

        &-picture {
          height: auto;
          left: 64px;
          top: 34px;
          width: 116px;
          line-height: 0;

          & > img {
            width: 100%;
          }

          &-special {
            width: 156px;
            top: 36px;
            left: 23px;
            z-index: 0;

            & > img {
              width: 100%;
              height: auto;
            }
          }
        }

        &-attr {
          font-size: 16px;
          text-align: left;
          width: 60px;
          font-weight: 700;
          white-space: nowrap;

          & > span {
            font-weight: 400;
            margin-left: 8px;
          }

          &1 {
            left: 48px;
            top: 181px;
          }

          &2 {
            left: 48px;
            top: 199px;
          }

          &3 {
            left: 48px;
            top: 217px;
          }

          &4 {
            left: 119px;
            top: 181px;
          }

          &5 {
            left: 119px;
            top: 199px;
          }

          &6 {
            left: 119px;
            top: 217px;
          }

        }

        &-workrates {
          top: 260px;
          font-size: 12px;
          left: 0;
          width: 100%;
          text-align: center;
          text-transform: uppercase;
        }

        &-overlay {
          width: 36px;
          height: 198px;
          position: absolute;
          top: 42px;
          left: 41px;
          z-index: 0;
        }

        &-line {
          border: 0 solid #000;

          &1 {
            width: 15px;
            border-bottom-width: 1px;
            top: 90px;
            left: 52px;
          }

          &2 {
            width: 15px;
            border-bottom-width: 1px;
            top: 114px;
            left: 52px;
          }

          &3 {
            width: 110px;
            border-bottom-width: 1px;
            top: 175px;
            left: 50%;
            margin-left: -(110px / 2);
          }

          &4 {
            height: 49px;
            border-left-width: 1px;
            top: 183px;
            left: 50%;
          }

          &5 {
            width: 24px;
            border-bottom-width: 1px;
            top: 239px;
            left: 50%;
            margin-left: -(24px / 2);
          }
        }
      }
    }

    &-small {
      width: 100px;
      height: 118px;

      .playercard {
        &-rating {
          font-size: 18px;
          left: 13px;
          top: 24px;
          width: 26px;
          text-align: center;
          font-weight: 700;
          z-index: 2;
        }

        &-position {
          font-size: 11px;
          left: 13px;
          top: 41px;
          width: 26px;
          text-align: center;
          font-weight: 500;
          z-index: 3;
        }

        &-name {
          font-size: 11px;
          text-transform: uppercase;
          text-align: center;
          top: 86px;
          width: 100%;
          font-weight: 500;
          z-index: 3;
        }

        &-nation {
          left: 19px;
          top: 54px;
          z-index: 3;
          line-height: 0;

          & > img {
            width: 14px;
          }
        }

        &-club {
          left: 19px;
          top: 65px;
          z-index: 3;
          line-height: 0;

          & > img {
            width: 15px;
          }
        }

        &-picture {
          left: 34px;
          top: 29px;
          width: 54px;
          line-height: 0;

          & > img {
            width: 100%;
          }

          &-special {
            left: 14px;
            top: 20px;
            width: 72px;

            & > img {
              width: 100%;
              height: auto;
            }
          }
        }

        &-overlay {
          width: 18px;
          height: 70px;
          position: absolute;
          top: 26px;
          left: 17px;
          z-index: 0;
        }

        &-attr {
          display: none;
        }

        &-workrates {
          display: none;
        }

        &-line {
          display: none;
        }
      }
    }

    &-xsmall {
      width: 24px;
      height: 24px;
      display: inline-block;
      background-size: contain;

      & > * {
        width: 100%;
        text-align: center;
      }

      .playercard {
        &-rating {
          top: 6px;
          font-size: 11px;
          font-weight: 500;
          z-index: 2;
        }

        &-overlay {
          display: none;
        }

        &-line {
          display: none;
        }
      }
    }

    /* --------- */

    &.bronze {
      &.non-rare {
        background-image: url("../images/cards/20/bronze_non_rare.png");
        color: #4d331f;

        .playercard-line {
          border-color: #403322;
        }

        &.playercard-small, &.playercard-xsmall {
          background-image: url("../images/cards/20/small/bronze_non_rare.png");
        }
      }

      &.rare {
        background-image: url("../images/cards/20/bronze.png");
        color: #4d331f;

        .playercard-line {
          border-color: #4E331C;
        }

        &.playercard-small, &.playercard-xsmall {
          background-image: url("../images/cards/20/small/bronze.png");
        }

        &.if {
          background-image: url("../images/cards/20/bronze_if.png");
          color: #ca945f;

          .playercard-name {
            color: #e2a487;
          }

          .playercard-line {
            border-color: #967552;
          }

          &.playercard-small, &.playercard-xsmall {
            background-image: url("../images/cards/20/small/bronze_if.png");
          }

          @include overlay(#000);
        }

        &.fut-champ {
          background-image: url("../images/cards/20/champion_bronze.png");
          color: #DEB376;

          .playercard-line {
            border-color: #896E46;
          }

          &.playercard-small, &.playercard-xsmall {
            background-image: url("../images/cards/20/small/champion_bronze.png");
          }

          @include overlay(#4D0F0E);
        }
      }
    }

    &.silver {
      &.non-rare {
        background-image: url("../images/cards/20/silver_non_rare.png");
        color: #3b3d41;

        .playercard-line {
          border-color: #343839;
        }

        &.playercard-small, &.playercard-xsmall {
          background-image: url("../images/cards/20/small/silver_non_rare.png");
        }
      }

      &.rare {
        background-image: url("../images/cards/20/silver.png");
        color: #3b3d41;

        .playercard-line {
          border-color: #393E3F;
        }

        &.playercard-small, &.playercard-xsmall {
          background-image: url("../images/cards/20/small/silver.png");
        }

        &.if {
          background-image: url("../images/cards/20/silver_if.png");
          color: #cdd9e1;

          .playercard-name {
            color: #b0bcc8;
          }

          .playercard-line {
            border-color: #8D96A0;
          }

          &.playercard-small, &.playercard-xsmall {
            background-image: url("../images/cards/20/small/silver_if.png");
          }

          @include overlay(#000);
        }

        &.fut-champ {
          background-image: url("../images/cards/20/champion_silver.png");
          color: #F2F2F3;

          .playercard-line {
            border-color: #A0A0A0;
          }

          &.playercard-small, &.playercard-xsmall {
            background-image: url("../images/cards/20/small/champion_silver.png");
          }

          @include overlay(#4D0F0E);
        }
      }
    }

    &.gold {
      &.non-rare {
        background-image: url("../images/cards/20/gold_non_rare.png");
        color: #4d331f;

        .playercard-line {
          border-color: #574A2B;
        }

        &.playercard-small, &.playercard-xsmall {
          background-image: url("../images/cards/20/small/gold_non_rare.png");
        }
      }

      &.rare {
        background-image: url("../images/cards/20/gold.png");
        color: #4d331f;

        .playercard-line {
          border-color: #645215;
        }

        &.playercard-small, &.playercard-xsmall {
          background-image: url("../images/cards/20/small/gold.png");
        }

        &.icon {
          background-image: url("../images/cards/20/icon.png");
          color: #625217;

          .playercard-line {
            border-color: #aa9e6f;
          }

          &.playercard-small, &.playercard-xsmall {
            background-image: url("../images/cards/20/small/icon.png");
          }

          @include overlay(#fff);
        }

        &.if {
          background-image: url("../images/cards/20/gold_if.png");
          color: #e1c775;

          .playercard-name {
            color: #fce398;
          }

          .playercard-line {
            border-color: #B19B58;
          }

          &.playercard-small, &.playercard-xsmall {
            background-image: url("../images/cards/20/small/gold_if.png");
          }

          @include overlay(#000);
        }

        &.otw {
          background-image: url("../images/cards/20/otw.png");
          color: #FC5461;

          .playercard-name {
            color: #ea598d;
          }

          .playercard-line {
            border-color: #FAFA20;
          }

          &.playercard-small, &.playercard-xsmall {
            background-image: url("../images/cards/20/small/otw.png");
          }

          @include overlay(#000a2d);
        }

        &.sbc_premium {
          background-image: url("../images/cards/20/sbc_premium.png");
          color: #00FCFF;

          .playercard-line {
            border-color: #F000FF;
          }

          &.playercard-small, &.playercard-xsmall {
            background-image: url("../images/cards/20/small/sbc_premium.png");
          }

          @include overlay(#642289);
        }

        &.sbc_flashback {
          background-image: url("../images/cards/20/sbc_flashback.png");
          color: #EBFFB0;

          .playercard-line {
            border-color: #14F6F3;
          }

          &.playercard-small, &.playercard-xsmall {
            background-image: url("../images/cards/20/small/sbc_flashback.png");
          }

          @include overlay(#2A7B77);
        }

        &.potm_epl {
          background-image: url("../images/cards/20/potm_epl.png");
          color: #05F1FF;

          .playercard-line {
            border-color: #FF2882;
          }

          &.playercard-small, &.playercard-xsmall {
            background-image: url("../images/cards/20/small/potm_epl.png");
          }

          @include overlay(#37003C);
        }

        &.potm_bundesliga {
          background-image: url("../images/cards/20/potm_bundesliga.png");
          color: #F5F5F5;

          .playercard-line {
            border-color: #B6757A;
          }

          &.playercard-small, &.playercard-xsmall {
            background-image: url("../images/cards/20/small/potm_bundesliga.png");
          }

          @include overlay(#86030D);
        }

        &.potm_mls {
          background-image: url("../images/cards/20/potm_mls.png");
          color: #ffffff;

          .playercard-line {
            border-color: #0066A6;
          }

          &.playercard-small, &.playercard-xsmall {
            background-image: url("../images/cards/20/small/potm_mls.png");
          }

          @include overlay(#002658);
        }

        &.potm_ligue1 {
          background-image: url("../images/cards/20/potm_ligue1.png");
          color: #DBE120;

          .playercard-line {
            border-color: #E2001A;
          }

          &.playercard-small, &.playercard-xsmall {
            background-image: url("../images/cards/20/small/potm_ligue1.png");
          }

          @include overlay(#11233F);
        }

        &.halloween {
          background-image: url("../images/cards/20/halloween.png");
          color: #FF690D;

          .playercard-line {
            border-color: #A74F14;
          }

          &.playercard-small, &.playercard-xsmall {
            background-image: url("../images/cards/20/small/halloween.png");
          }

          @include overlay(#050208);
        }

        &.sbc {
          background-image: url("../images/cards/20/sbc.png");
          color: #00FCFF;

          .playercard-line {
            border-color: #F000FF;
          }

          &.playercard-small, &.playercard-xsmall {
            background-image: url("../images/cards/20/small/sbc.png");
          }

          @include overlay(#791496);
        }

        &.ucl_rare {
          background-image: url("../images/cards/20/ucl_rare.png");
          color: #F5F5F5;

          .playercard-line {
            border-color: #5AF7DC;
          }

          &.playercard-small, &.playercard-xsmall {
            background-image: url("../images/cards/20/small/ucl_rare.png");
          }

          @include overlay(#050b7e);
        }

        &.ucl_non_rare {
          background-image: url("../images/cards/20/ucl_non_rare.png");
          color: #F5F5F5;

          .playercard-line {
            border-color: #5AF7DC;
          }

          &.playercard-small, &.playercard-xsmall {
            background-image: url("../images/cards/20/small/ucl_non_rare.png");
          }

          @include overlay(#050b7e);
        }

        &.ucl_sbc {
          background-image: url("../images/cards/20/ucl_sbc.png");
          color: #F5F5F5;

          .playercard-line {
            border-color: #FF00FF;
          }

          &.playercard-small, &.playercard-xsmall {
            background-image: url("../images/cards/20/small/ucl_sbc.png");
          }

          @include overlay(#19369A);
        }

        &.ucl_live {
          background-image: url("../images/cards/20/ucl_live.png");
          color: #88F3DD;

          .playercard-line {
            border-color: #EA41F7;
          }

          &.playercard-small, &.playercard-xsmall {
            background-image: url("../images/cards/20/small/ucl_live.png");
          }

          @include overlay(#000324);
        }

        &.objective_reward {
          background-image: url("../images/cards/20/objective_reward.png");
          color: #fafa20;

          .playercard-line {
            border-color: #fc5461;
          }

          &.playercard-small, &.playercard-xsmall {
            background-image: url("../images/cards/20/small/objective_reward.png");
          }

          @include overlay(#121620);
        }

        &.objective_reward_2 {
          background-image: url("../images/cards/20/objective_reward_2.png");
          color: #FC5461;

          .playercard-line {
            border-color: #40FCFF;
          }

          &.playercard-small, &.playercard-xsmall {
            background-image: url("../images/cards/20/small/objective_reward_2.png");
          }

          @include overlay(#121620);
        }

        &.purple {
          background-image: url("../images/cards/20/purple.png");
          color: #f9e500;

          .playercard-line {
            border-color: #ff357c;
          }

          &.playercard-small, &.playercard-xsmall {
            background-image: url("../images/cards/20/small/purple.png");
          }

          @include overlay(#241A44);
        }

        &.award-winner {
          background-image: url("../images/cards/20/award-winner.png");
          color: #C4FA4B;

          .playercard-line {
            border-color: #00F6FF;
          }

          &.playercard-small, &.playercard-xsmall {
            background-image: url("../images/cards/20/small/award-winner.png");
          }

          @include overlay(#380062);
        }

        &.bluered {
          background-image: url("../images/cards/20/bluered.png");
          color: #FAFA20;

          .playercard-line {
            border-color: #FC5461;
          }

          &.playercard-small, &.playercard-xsmall {
            background-image: url("../images/cards/20/small/bluered.png");
          }

          @include overlay(#C62B2F);
        }

        &.pro {
          background-image: url("../images/cards/20/pro.png");
          color: #E6E6E6;

          .playercard-line {
            border-color: #7DFBEF;
          }

          &.playercard-small, &.playercard-xsmall {
            background-image: url("../images/cards/20/small/pro.png");
          }

          @include overlay(#2CA496);
        }

        &.icon_swap_1 {
          background-image: url("../images/cards/20/icon_swap_1.png");
          color: #E3E2DE;

          .playercard-line {
            border-color: #4B4435;
          }

          .playercard-rating, .playercard-position {
            color: #201C10;
          }

          &.playercard-small, &.playercard-xsmall {
            background-image: url("../images/cards/20/small/icon_swap_1.png");
          }
        }

        &.icon_swap_2 {
          background-image: url("../images/cards/20/icon_swap_2.png");
          color: #4b4435;

          .playercard-line {
            border-color: #4b4435;
          }

          &.playercard-small, &.playercard-xsmall {
            background-image: url("../images/cards/20/small/icon_swap_2.png");
          }
        }

        &.fut-champ {
          background-image: url("../images/cards/20/champion_gold.png");
          color: #FFE28C;

          .playercard-line {
            border-color: #705F30;
          }

          &.playercard-small, &.playercard-xsmall {
            background-image: url("../images/cards/20/small/champion_gold.png");
          }

          @include overlay(#4D0F0E);
        }

        &.europa_live {
          background-image: url("../images/cards/20/europa_live.png");
          color: #030303;

          .playercard-line {
            border-color: #030303;
          }

          &.playercard-small, &.playercard-xsmall {
            background-image: url("../images/cards/20/small/europa_live.png");
          }

          @include overlay(#FFBA01);
        }

        &.potm_laliga {
          background-image: url("../images/cards/20/potm_laliga.png");
          color: #90D9EB;

          .playercard-line {
            border-color: #D9DCBC;
          }

          &.playercard-small, &.playercard-xsmall {
            background-image: url("../images/cards/20/small/potm_laliga.png");
          }

          @include overlay(#0C1B21);
        }

        &.f_moment {
          background-image: url("../images/cards/20/f_moment.png");
          color: #FFD801;

          .playercard-line {
            border-color: #FFD801;
          }

          &.playercard-small, &.playercard-xsmall {
            background-image: url("../images/cards/20/small/f_moment.png");
          }

          @include overlay(#154550);
        }

        &.ucl_tott {
          background-image: url("../images/cards/20/ucl_tott.png");
          color: #F5F5F5;

          .playercard-line {
            border-color: #C6C9E2;
          }

          &.playercard-small, &.playercard-xsmall {
            background-image: url("../images/cards/20/small/ucl_tott.png");
          }
        }

        &.europa_tott {
          background-image: url("../images/cards/20/europa_tott.png");
          color: #F5F5F5;

          .playercard-line {
            border-color: #F39200;
          }

          &.playercard-small, &.playercard-xsmall {
            background-image: url("../images/cards/20/small/europa_tott.png");
          }

          @include overlay(#000);
        }

        &.futmas {
          background-image: url("../images/cards/20/futmas.png");
          color: #ffffff;

          .playercard-line {
            border-color: #19c16e;
          }

          &.playercard-small, &.playercard-xsmall {
            background-image: url("../images/cards/20/small/futmas.png");
          }

          @include overlay(#640c10);
        }

        &.toty_nominee {
          background-image: url("../images/cards/20/toty_nominee.png");
          color: #efd668;

          .playercard-line {
            border-color: #efd668;
          }

          &.playercard-small, &.playercard-xsmall {
            background-image: url("../images/cards/20/small/toty_nominee.png");
          }
        }

        &.toty {
          background-image: url("../images/cards/20/toty.png");
          color: #efd668;

          .playercard-line {
            border-color: #efd668;
          }

          &.playercard-small, &.playercard-xsmall {
            background-image: url("../images/cards/20/small/toty.png");
          }

          @include overlay(#00033E);
        }

        &.headliners {
          background-image: url("../images/cards/20/headliners.png");
          color: #fff;

          .playercard-line {
            border-color: #FFCE0B;
          }

          &.playercard-small, &.playercard-xsmall {
            background-image: url("../images/cards/20/small/headliners.png");
          }

          @include overlay(#9B0F2D);
        }
      }
    }
  }
}