<!DOCTYPE html>
<html>
<head>
    <title>FUT 20 Cards</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../dist/css/cards20.min.css">
    <style>
        html {
            color: #fff;
            background-color: #0b1218;
            font-family: 'fut-cards', sans-serif;
            font-size: 18px;
        }
    </style>
</head>
<body>

<div id="test">

    <div>
        <div v-for="(card, key) in cards20" style="display: inline-flex">
            <div>
                <fut-card
                        fifa="20"
                        :version="card.class"
                        rating="90"
                        position="GK"
                        name="Van Dijk"
                        nation="https://www.easports.com/fifa/ultimate-team/web-app/content/20C1B296-B15C-4F72-AF0F-882F187EC2C9/2020/fut/items/images/mobile/flags/list/52.png"
                        club="https://www.easports.com/fifa/ultimate-team/web-app/content/20C1B296-B15C-4F72-AF0F-882F187EC2C9/2020/fut/items/images/mobile/clubs/normal/9.png"
                        picture="https://www.easports.com/fifa/ultimate-team/web-app/content/20C1B296-B15C-4F72-AF0F-882F187EC2C9/2020/fut/items/images/mobile/portraits/203376.png"
                        :attrs="[87, 92, 92, 96, 39, 66]"
                ></fut-card>
                <div style="text-align: center">
                    {{ card.title }}<br>
                    {{ card.class }}<br><br>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div v-for="(card, key) in cards20" style="display: inline-flex">
            <fut-card
                    fifa="20"
                    :version="card.class"
                    size="small"
                    rating="90"
                    position="GK"
                    name="Ter Stegen"
                    nation="https://www.easports.com/fifa/ultimate-team/web-app/content/20C1B296-B15C-4F72-AF0F-882F187EC2C9/2020/fut/items/images/mobile/flags/list/52.png"
                    club="https://www.easports.com/fifa/ultimate-team/web-app/content/20C1B296-B15C-4F72-AF0F-882F187EC2C9/2020/fut/items/images/mobile/clubs/normal/241.png"
                    picture="https://www.easports.com/fifa/ultimate-team/web-app/content/20C1B296-B15C-4F72-AF0F-882F187EC2C9/2020/fut/items/images/mobile/portraits/188567.png"
            ></fut-card>
        </div>
    </div>

    <div>
        <div v-for="(card, key) in cards20" style="display: inline-flex">
            <fut-card
                    fifa="20"
                    :version="card.class"
                    rating="90"
                    size="xsmall"
            ></fut-card>
        </div>
    </div>

    <div>
        <div v-for="(card, key) in cards20" style="display: inline-flex">
            <fut-card
                    fifa="20"
                    :version="card.class"
                    rating="90"
                    position="GK"
                    name="Ter Stegen"
                    nation="https://www.easports.com/fifa/ultimate-team/web-app/content/20C1B296-B15C-4F72-AF0F-882F187EC2C9/2020/fut/items/images/mobile/flags/list/52.png"
                    club="https://www.easports.com/fifa/ultimate-team/web-app/content/20C1B296-B15C-4F72-AF0F-882F187EC2C9/2020/fut/items/images/mobile/clubs/normal/241.png"
                    picture="https://www.easports.com/fifa/ultimate-team/web-app/content/20C1B296-B15C-4F72-AF0F-882F187EC2C9/2020/fut/playerheads/mobile/single/p100844587.png"
                    :picture-special="true"
                    :attrs="[87, 92, 92, 96, 39, 66]"
            ></fut-card>
        </div>
    </div>

</div>

<script src="../dist/js/test.js"></script>

</body>
</html>